h1 {
    color: pink;
    font-size: 250%;
}


p{
  font-family: "sans serif";
  text-indent: 30px;
  margin-left: 20px;
}


#content {
  background-color: #faa381;
  width: 600px;
  min-height: 200px;
  padding: 20px;
  margin: 20px;
  border: solid 1px #afc1d6;
  font-size: 30px
}
